.page {
    background: #ffffff;
    width: 700px;
    padding: 20px;
    border: 3px solid #a5a5a5;
    margin: auto;
}
header {
    text-align: center;
}

.center {
    text-align: center;
}
.right {
    text-align: right;
}
.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.image01 {
    float: left;
    margin: 10px;
}
.image02 {
    display: block;
    margin: auto;
}
